


*{
    margin: 0;
}
header{
    background-color: darkorange;
    color: white;
}
nav {
    padding: 10px;

}

ul {
    list-style-type: none;

}

li {
    display: inline;
    padding: 20px;
}

ul li a{
    text-decoration: none;
}

.maindiv{
    display: flex;
 
}
.child1{
flex: 40%;

} 
.child2{
background-color:white;
flex: 60%;

}
.childdiv1{
    background-color: aquamarine;
margin: 3px;
flex: 35%;
color: black;
border: solid;
}
.childdiv2{
    background-color: aquamarine;
    border: solid;
    margin: 3px;
flex: 35%;
color: black;
}
pre{
margin: 70px;
}
.childdiv1 pre ins del {
text-align: center;
font-size: large;
}
footer{
text-align: center;
font-size: larger;
color: rgb(19, 18, 18);
background-color: rgb(37, 233, 233);
}